
.text-with-image-outline {
  font-weight: bold;
  color: transparent;
  /* -webkit-background-clip: text; */
  background-clip: text;
  background-image: url('../../assets/images//imageA.svg');
  background-position: center;
  background-size: cover;
  /* -webkit-text-stroke: 2px black; */
}

.text-with-image-outline.fallback {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}